body {
  margin: 0;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #121212;
  color: #ffffff;
}

h1,
h2 {
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: auto;
  padding: 10px;
}

header {
  background: linear-gradient(to right, #1c1c1c, #5e5e5e);
  padding: 10px 0;
  border-bottom: 2px solid #9748cc;
}

header h1 {
  color: #9748cc;
  text-align: center;
  font-size: 70px;
  font-family: "Trebuchet MS", sans-serif;
  text-shadow: 7px 7px 20px rgba(0, 0, 0, 0.7);
  letter-spacing: 3px;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 20px 0 0 0;
  padding: 0;
}

nav ul li {
  margin: 0 35px;
}

nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #9748cc;
}

img {
  width: 250px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin-top: 20px;
}

/* welcome */
.block {
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  text-align: center;
}

.block-content {
  background: rgba(0, 0, 0, 0.8);
  padding: 20px;
  margin: 0 20px;
  border-radius: 10px;
}

.block-content h2 {
  font-size: 35px;
  margin-bottom: 20px;
}

.block-content p {
  font-size: 20px;
}

.block-content .button {
  display: inline-block;
  padding: 10px 20px;
  color: #ffffff;
  background-color: #9748cc;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s;
}

.block-content .button:hover {
  background-color: #390263;
}

.section {
  background-color: #1c1c1c;
  padding: 40px;
}

#video-home {
  padding: 40px;
  background: #121212;
  text-align: center;
}

#yt-home {
  width: 100%;
  max-width: 560px;
  padding-top: 20px;
  margin: auto;
}

iframe {
  width: 100%;
  border: none;
  border-radius: 10px;
}

/* footer */
footer {
  background: linear-gradient(to left, #1c1c1c, #5e5e5e);
  text-align: center;
  color: #ffffff;
  border-top: 2px solid #9748cc;
}

footer ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

footer ul li {
  margin: 0 20px;
}

.logo {
  width: 50px;
  height: 50px;
}

#career h3 {
  margin-top: 30px;
  color: #9748cc;
}

#career table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  border: 2px solid #ffffff;
}

#career td {
  padding: 10px;
  text-align: left;
}

#career th {
  padding: 10px;
  text-align: left;
  background-color: #3a3a3a;
  color: #9748cc;
  font-size: larger;
  border-bottom: 2px solid #ffffff;
}

#career tr:nth-child(odd) {
  background-color: #2a2a2a;
}

#career tr:nth-child(even) {
  background-color: #1c1c1c;
}

#gallery h3 {
  color: #9748cc;
  margin-bottom: 20px;
  text-align: center;
}

#gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px;
  justify-items: center;
}

#gallery-grid img {
  transition: transform 0.3s;
}

#gallery-grid img:hover {
  transform: scale(1.5);
}

#video-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  gap: 20px;
  justify-items: center;
  padding-top: 20px;
  padding-bottom: 40px;
}

#video-grid iframe {
  width: 450px;
  height: 250px;
}

#contact {
  background-color: #1c1c1c;
  padding: 40px;
  border-radius: 10px;
  color: #ffffff;
}

#contact h3 {
  color: #9748cc;
  margin-bottom: 20px;
  font-size: 30px;
  text-align: center;
}

#contact form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#contact label {
  font-size: 20px;
}

#contact input,
#contact textarea {
  padding: 10px;
  border: 1px solid #3a3a3a;
  border-radius: 5px;
  background-color: #2a2a2a;
  color: #ffffff;
  font-size: 20px;
}

#contact .button {
  background-color: #9748cc;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#contact .button:hover {
  background-color: #390263;
}

#map {
  background: #121212;
  padding: 40px;
  border-radius: 10px;
  text-align: center;
}

#map h3 {
  color: #9748cc;
  margin-bottom: 20px;
  font-size: 30px;
}

#map iframe {
  width: 100%;
  max-width: 600px;
  height: 450px;
  border: none;
  border-radius: 10px;
}
